@use '../../styles/variables' as *;

.sy-header{
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    padding-left: 30px;
    // background-color: $bg-menu;
    color: $fg-main;
    box-sizing: border-box;

}

.sy-logo{
    color: $fg-main;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}

.sy-header-centered{
    height: 100%;
    display: flex;
    align-items: center;
}

.sy-header-centered img{
    height: auto;
    margin-right: 10px;
}

.sy-header-text{
    flex: 1;
}

.sy-header-menu{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.sy-header-submenu{
    /*
    border-top: 1px solid $fg-main;
    border-bottom: 1px solid $fg-main;
    */
    padding: 10px;
    min-width: 200px;
    position: absolute;
    display: none;
    background-color: $fg-main;
    color: $fg-menu;
    /*
    background-color: $fg-main-50;
    color: $fg-main;
    */
    z-index: 1;
}

.sy-header-menu:hover .sy-header-submenu{
    display: block;
}

.sy-header-submenu a{
    display: block;
    text-decoration: none;
    color: $fg-menu;
}

.sy-header-submenu a:hover{
    color: $fg-primary;
}