@use '../../styles/variables' as *;

.sy-header{
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    padding-left: 30px;
    // background-color: $bg-menu;
    color: $fg-main;
    box-sizing: border-box;

}

.sy-logo{
    color: $fg-main;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}