<div class="sy-page">
    <tabs>
        <tab icon="fa-solid fa-user" title="Me">
            <div *ngIf="!meUser">
                No user loaded
            </div>
            <div *ngIf="meUser" class="grid">
                <div class="col-6">
                    <div class="w100">
                        <h2>{{meUser.name}}</h2>
                        <h3>Data</h3>
                        <live-text type="email" [text]="meUser.email" (onTextChange)="onMailChange($event)" class="w100"></live-text>
                        <live-text type="password" [text]="'pwd'" (onTextChange)="onPasswordChange($event)" class="w100"></live-text>

                        <table>
                            <tr>
                                <td>
                                    <img *ngIf="meUser.avatar" [src]="meUser.avatar" class="sy-settings-image" width="100px" height="100px"/>
                                    <span *ngIf="!meUser.avatar">Avatar</span>
                                </td>
                                <td><live-text [text]="meUser.avatar" (onTextChange)="onAvatarChange($event)"></live-text></td>
                            </tr>
                            <tr>
                                <td>Street</td>
                                <td><live-text [text]="meUser.street" (onTextChange)="onStreetChange($event)"></live-text></td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td><live-text [text]="meUser.city" (onTextChange)="onCityChange($event)" class="w100"></live-text></td>
                            </tr>
                            <tr>
                                <td>Zip Code</td>
                                <td><live-text [text]="meUser.zipcode" (onTextChange)="onZipcodeChange($event)" class="w100"></live-text></td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td><live-text [text]="meUser.country" (onTextChange)="onCountryChange($event)" class="w100"></live-text></td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="col-6">
                    <div style="width: 100%;">
                        <h3>Statistics</h3>
                        <app-xp-bar [xp]="meUser.xpPercentFrontEnd" [level]="meUser.levelFrontEnd" [label]="'FrontEnd'" [icon]="'/images/icon-frontend.svg'"></app-xp-bar>
                        <app-xp-bar [xp]="meUser.xpPercentBackEnd" [level]="meUser.levelBackEnd" [label]="'BackEnd'" [icon]="'/images/icon-backend.svg'"></app-xp-bar>
                        <app-xp-bar [xp]="meUser.xpPercentTests" [level]="meUser.levelTests" [label]="'Tests'" [icon]="'/images/icon-tests.svg'"></app-xp-bar>
                        <app-xp-bar [xp]="meUser.xpPercentManagement" [level]="meUser.levelManagement" [label]="'Management'" [icon]="'/images/icon-management.svg'"></app-xp-bar>
                    </div>

                </div>

            </div>
        </tab>
    
        <tab icon="fa-solid fa-calendar" title="Preferences">
            <div class="grid">
                <div class="col-6">
                    <div class="pad10 w100">
                        <h2>Preferences</h2>
                        <table>
                            <tr>
                                <td>
                                    Time History
                                </td>
                                <td>
                                    {{ meUser?.preferences?.timeHistory }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Time Chart Month
                                </td>
                                <td>
                                    {{ meUser?.preferences?.timeChartMonth }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </tab>

        <tab icon="fa-solid fa-toolbox" title="Application">
            <h2>Application</h2>
            <table>
                <tr>
                    <th>#ID</th>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                <tr *ngFor="let param of globalParams">
                    <td>#{{param.id}}</td>
                    <td>{{param.name}}</td>
                    <td><live-text [text]="param.value" (onTextChange)="onGlobalParamChange($event, param.id)"></live-text></td>
                    <td>{{param.type}}</td>
                    <td>{{param.description}}</td>
                </tr>
            </table>
        </tab>

        <tab icon="fa-solid fa-users" title="Users">
            <h2>Users</h2>
            <div>
                <button class="sy-button" (click)="openCreateUserModal()">Create</button>
            </div>
            <table class="sy-table">
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Can Login</th>
                    <th>Last Login</th>
                    <th>Level Front</th>
                    <th>Level Back</th>
                    <th>Level Test</th>
                    <th>Level Mgnt</th>
                </tr>
                <tr *ngFor="let user of users">
                    <td>#{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <i *ngIf="user.canLogin" class="fa-solid fa-check"></i>
                        <i *ngIf="!user.canLogin" class="fa-solid fa-ban"></i>
                    </td>
                    <td>{{user.lastConnection | date: 'HH:mm dd/MM/yyyy'}}</td>
                    <td>{{user.levelFrontEnd}}</td>
                    <td>{{user.levelBackEnd}}</td>
                    <td>{{user.levelTests}}</td>
                    <td>{{user.levelManagement}}</td>
                </tr>
            </table>
        </tab>

    </tabs>

</div>

<side-panel
  [isOpen]="createUserOpen"
  (closed)="createUserOpen = false"
  title="New User"
>
    <form [formGroup]="formCreateUser" (ngSubmit)="onSubmitCreateUser()">
        <table class="w100">
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" placeholder="User Name" class="w100" formControlName="name">
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type="text" placeholder="Email" class="w100" formControlName="email">
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" placeholder="Password" class="w100" formControlName="password">
                </td>
            </tr>
        </table>
      <button class="sy-button">Create User</button>
    </form>
</side-panel>