<div class="sy-page">
    <tabs>
        <tab icon="fa-solid fa-user" title="Me">
            <div *ngIf="!meUser">
                No user loaded
            </div>
            <div *ngIf="meUser" class="grid">
                <div class="col-6">
                    <div class="w100">
                        <h2>{{meUser.name}}</h2>
                        <h3>Data</h3>
                        <live-text type="email" [text]="meUser.email" (onTextChange)="onMailChange($event)" class="w100"></live-text>
                        <live-text type="password" [text]="'pwd'" (onTextChange)="onPasswordChange($event)" class="w100"></live-text>
                        
                        <table>
                            <tr>
                                <td>Street</td>
                                <td><live-text [text]="meUser.street" (onTextChange)="onStreetChange($event)"></live-text></td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="col-6">
                    <div style="width: 100%;">
                        <h3>Statistics</h3>
                        <app-xp-bar [xp]="meUser.xpPercentFrontEnd" [level]="meUser.levelFrontEnd" [label]="'FrontEnd'" [icon]="'/images/icon-frontend.svg'"></app-xp-bar>
                        <app-xp-bar [xp]="meUser.xpPercentBackEnd" [level]="meUser.levelBackEnd" [label]="'BackEnd'" [icon]="'/images/icon-backend.svg'"></app-xp-bar>
                        <app-xp-bar [xp]="meUser.xpPercentTests" [level]="meUser.levelTests" [label]="'Tests'" [icon]="'/images/icon-tests.svg'"></app-xp-bar>
                    </div>

                </div>

            </div>
        </tab>
    
        <tab icon="fa-solid fa-toolbox" title="Application">
            <h2>Application</h2>
        </tab>
    </tabs>

</div>