@use '../../styles/variables' as *;

.sy-main-menu{
    display: block;
    width: 100%;
}

.sy-main-menu-item{
    text-decoration: none;
    display: block;
    width: 200px;
    margin-top: 20px;
    height: 3rem;
    line-height: 3rem;
    color: $fg-main;
    padding-left: 100px;
    cursor: pointer;
    // box-shadow: 0 0 15px #00ffd5;
    //clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}

.sy-main-menu-item:hover{
    color: $fg-primary;
    background: linear-gradient(to left, $fg-main, $fg-main-alpha);
    transition-duration: 0.5s;
}

.sy-main-title{
    display: inline-block;
    font-size: 45px;
    margin-bottom: 20px;
    // border-bottom: 1px solid $fg-main;
}

.sy-user-stats{
    margin-top: 1.3em;
    width: 100%;
}

.sy-user-cat{
    display: block;
    border-bottom: 1px solid $fg-main;
    margin-bottom: 20px;
}

.sy-user-cat span{
    background-color: $fg-main;
    color: $fg-menu;
    padding: 2px 10px;
    margin-right: 10px;
}

.warning-border {
    border: 0;
    background-image: repeating-linear-gradient(
      135deg,
      $fg-main,
      $fg-main 10px,
      #00000000 10px,
      #00000000 15px
    );
    background-clip: border-box;
    // padding: 1rem;
    height: 20px;
    width: 100%;
  }
  