<div class="sy-main-menu">
    <div class="sy-main-title">
        メインメニュー
        <div class="warning-border"></div>
    </div>
    <div class="sy-main-menu-item">
        My Projects
    </div>
</div>

<div class="sy-user-stats">
    <div class="sy-user-cat">
        <span>統計</span>Statistics
    </div>
    <app-xp-bar [xp]="80" [level]="99" [label]="'FrontEnd'" [icon]="'/images/icon-frontend.svg'"></app-xp-bar>
    <app-xp-bar [xp]="20" [level]="1" [label]="'BackEnd'" [icon]="'/images/icon-backend.svg'"></app-xp-bar>
    <app-xp-bar [xp]="0" [level]="0" [label]="'Tests'" [icon]="'/images/icon-tests.svg'"></app-xp-bar>
</div>