<div class="sy-main-menu">
    <div class="sy-main-title">
        メインメニュー
        <div class="warning-border"></div>
    </div>
    <a routerLink="/myprojects" class="sy-main-menu-item">
        My Projects
    </a>
    <a routerLink="/settings" class="sy-main-menu-item">
        Settings
    </a>
</div>

<div class="sy-user-stats">
    <div class="sy-user-cat">
        <span>統計</span>Statistics
    </div>
    <app-xp-bar [xp]="user?.xpPercentFrontEnd ?? 0" [level]="user?.levelFrontEnd ?? 0" [label]="'FrontEnd'" [icon]="'/images/icon-frontend.svg'"></app-xp-bar>
    <app-xp-bar [xp]="user?.xpPercentBackEnd ?? 0" [level]="user?.levelBackEnd ?? 0" [label]="'BackEnd'" [icon]="'/images/icon-backend.svg'"></app-xp-bar>
    <app-xp-bar [xp]="user?.xpPercentTests ?? 0" [level]="user?.levelTests ?? 0" [label]="'Tests'" [icon]="'/images/icon-tests.svg'"></app-xp-bar>
</div>