@use 'app/styles/variables' as *;

html{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

body{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/Sylas_Back_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $fg-main;
}

