@use 'app/styles/variables' as *;

html{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

body{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/Sylas_Back_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $fg-main;

    // font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto Mono', sans-serif;
}

/*
.toast-success {
    background-color: #4caf50 !important;
    color: white;
}
.toast-warning {
    background-color: #ff9800 !important;
    }
    */
.toast-error {
    background-color: #f44336 !important;
    color: white;
    border-radius: 0 !important;
    width: 800px !important;
    font-size: 18px !important;
}
.toast-info {
    background-color: $fg-main !important;
    color: $fg-menu !important;
    border-radius: 0 !important;
    width: 800px !important;  /* Ajuste la largeur comme tu veux */
    font-size: 18px !important;  /* Agrandit la taille du texte si besoin */
}

.sy-button{
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: 1px solid $fg-main;
    background-color: $fg-main;
    color: $fg-menu;
    cursor: pointer;
}

.sy-button:hover{
    background-color: $fg-menu;
    color: $fg-main;
}

.sy-button-inverse{
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: 1px solid $fg-menu;
    background-color: $fg-menu;
    color: $fg-main;
    cursor: pointer;
}

.sy-button-inverse:hover{
    background-color: $fg-main;
    color: $fg-menu;
}

.sy-link{
    color: $fg-main;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.sy-link:hover{
    color: $fg-primary;
}

.sy-link-inverse{
    color: $fg-menu;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.sy-link-inverse:hover{
    color: $fg-primary;
}

.note{
    padding: 1rem;
    background-color: $fg-main-50;
    border-left: 1px solid $fg-main;
    border-right: 1px solid $fg-main;
}

.w100{
    width: 100%;
}

.h100{
    height: 100%;
}

.hmin400{
    min-height: 400px;
}

.hauto{
    height: auto;
}

.bg-beige{
    background-color: rgba($fg-main, 0.1);
}

.bbox{
    box-sizing: border-box;
}

.sy-input-text{
    display: block;
    background: $fg-main-50;
    color: $fg-main;
    border: 0;
    border-left: 5px solid $fg-main;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    margin-bottom: 10px;
}

.sy-input-text:focus{
    border: 0;
    outline: none;
}

.sy-input-inverse{
    display: block;
    background: none;
    color: $fg-menu;
    border: 0;
    border-bottom: 1px solid $fg-menu;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    margin-bottom: 10px;
}

.sy-input-inverse:focus{
    border-bottom: 1px dashed $fg-menu;
    outline: none;
}

.sy-option-text{
    background-color: $fg-menu;
    color: $fg-main;
    border: 0;
}

.sy-option-text:hover{
    background-color: $fg-main;
    color: $fg-menu;
}

.mb10{
    margin-bottom: 10px;
}

.sy-area{
    display: block;
    background: $fg-main-50;
    color: $fg-main;
    border: 0;
    border-left: 5px solid $fg-main;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

.sy-area:focus{
    border: 0;
    outline: none;
}

.sy-area-inverse{
    display: block;
    background: none;
    color: $fg-menu;
    border: 1px solid $fg-menu;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

.sy-area-inverse:focus{
    border: 1px dashed $fg-menu;
    outline: none;
}

.sy-page{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.pad10{
    padding: 10px;
}

.centered{
    text-align: center;
}

.dash-highlight{
    font-size: 35px;
    font-weight: bold;
}

.scrollable{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $fg-main rgba(0, 0, 0, 0);
}

.sy-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.sy-table td, .sy-table th{
    padding: 5px;
}

.sy-table th{
    text-align: left;
    border-bottom: 1px solid $fg-main;
}

.sy-small{
    font-size: 12px;
}

.sy-col-content-size{
    width: 1px;
    white-space: nowrap;
}

.sy-row-form{
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.vtop{
    vertical-align: top;
}